<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuankunluo.bonmovie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BonMovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.jobs.FetchPopularMoviesFromApiJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.jobs.FetchTopRatedMoviesFromApiJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.jobs.FetchMovieDetailFromAPIJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.jobs.FetchMovieVideosFromAPIJobServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".services.receiver.DBBRefreshBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yuankunluo.bonmovie.action.DB_INSERTED_MOVIES" />
                <action android:name="com.yuankunluo.bonmovie.action.DB_INSERTED_MOVIE_DETAIL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.receiver.MovieSelectedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.yuankunluo.bonmovie.action.MOVIE_SELECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.ui.MovieDetailActivity"></activity>
    </application>

</manifest>